@import "src/styles/variables";
@import "src/styles/mixins";

.header-small {
  color: $mainFontColor;
  font-family: $Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: rem(24);
  line-height: rem(30);

  text-align: center;

  &:first-letter {
    text-transform: uppercase;
  }
}
