@import "src/styles/variables";
@import "src/styles/mixins";
.logo {
  @include size(rem(26));
  background-color: $navActFontColor;
  background-image: url("svg/logo.svg");
  background-position: center center;
  background-size: rem(20);
  background-repeat: no-repeat;
  border-radius: 50%;

}
