@import "src/styles/variables";
@import "src/styles/mixins";

.news-letter {
  background-color: $white-color;
  border-top: solid 1px $borderTopColor;
  padding: rem(119) 0;
  @include flex-center();
  flex-wrap: wrap;

  &__left-panel {
    text-align: left;
    flex-basis: rem(330);
    margin: 0 rem(80);

    @media screen and (max-width: $smDesktopWidth) {
      text-align: center;
      //margin-right: 0;
      margin-bottom: rem(40);
     }
  }

  &__header {
    color: $mainFontColor;
    font-family: $Quicksand;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(22);
    padding-bottom: rem(18);
  }

  &__text {
    color: $textFontColor;
    font-family: $Roboto;
    font-weight: 400;
    font-size: rem(15);
    line-height: rem(26);
    letter-spacing: .03em;


  }

  &__right-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  &__input-email {
    flex-shrink: 0;
    display: inline-block;
    margin-right: rem(14);
  }
  &__button-save {
    flex-shrink: 0;
    display: block;
    flex-basis: rem(159);

    @media screen and (max-width: $tableWidth) {
      flex-shrink: 1;
    }
  }
}
