@import "src/styles/variables";
@import "src/styles/mixins";

.blog {
  background-color: $bgBlogColor;
  //height: rem(865);
  padding: rem(104) rem(143);
  text-align: center;

  @media screen and (max-width: $desktopWidth) {
    padding: rem(80);
  }

  @media screen and (max-width: $smDesktopWidth) {
    padding: rem(70);
  }

   @media screen and (max-width: $phoneWidth) {
    padding: rem(70) rem(30);
  }

  &__label {
    display: block;
    margin-bottom: rem(20);
  }

  &__header {
    display: block;
    margin-bottom: rem(92);
  }

  &__swiper-wrapper {

  }
}
