<section id="pricing" class="get-started">
    <div class="get-started__contetnt">
    <app-label class="get-started__label" labelText="PLAN YOUR LIFE" [whiteMode]="true"></app-label>
    <header class="get-started__header">Get <b>started</b> now</header>
    <p class="get-started__text">
      Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
    </p>
    <div class="get-started__buttons">
      <app-get-button class="get-started__white-button" [button]="forWhiteButton"></app-get-button>
      <app-get-button class="get-started__blue-button" [button]="forBlueButton"></app-get-button>
    </div>
  </div>
</section>
