@import "src/styles/variables";
@import "src/styles/mixins";

.social {
  display: flex;
  flex-direction: row;
}

.social_elem {
  @include size(rem(20));
  margin: 0 rem(16);
  cursor: pointer;
   background: { //значок завёрнут в пустой svg
      image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none'");
      repeat:  no-repeat;
      position: 50% 50%;
   }
  transition: .3s;
  transform-origin: 0% 0%;

  &.facebook {
    background-image: url("svg/facebook.svg");
  }
  &.telegram {
    background-image: url("svg/telegram.svg");
  }
  &.twitter {
    background-image: url("svg/twitt.svg");
  }
  &.medium {
    background-image: url("svg/medium.svg");
  }

  &:hover { //перекрашивание в оттенок голубого
    filter: invert(53%) sepia(89%) saturate(2325%) hue-rotate(158deg);
    transform: translateY(-1px);
}
}
