$Quicksand               : Quicksand, "Open Sans", Arial;
$Roboto                  : Roboto, "Open Sans", Arial;
$OpenSans                : 'Open Sans', Arial;

$mainFontColor           : #3D4F9F;
$textFontColor           : #8D96BD;
$textFontColor2          : #A4ABC8;

$navFontColor            : #697CA6;
$navActFontColor         : #5E81FE;
$navShadowColor          : #E6E6E6;

$unactiveBulletColor     : #D1D6E3;
$activeBulletColor       : #5283FF;

$borderTopColor          : #D8E3FE;
$bgPlanAndManageColor    : #F5F8FF;
$bgBlogColor             : $bgPlanAndManageColor;

$btnViewBgColor          : #4C85FF;
$btnSeeFontColor         : #ADB4D2;
$btnSeeBorderColor       : #D1D1E4;

$btnBlueFontColor        : #3A79FF;
$btnBlueBgColor          : #D2E1FF;
$btnWhiteFontColor       : #A6B6DA;
$btnWhiteBgColor         : #FFFFFF;
$btnPinkFontColor        : #D43F3F;
$btnPingBgColor          : #FFD7D7;
$btnGrayFontColor        : #7382A3;
$btnGrayBgColor          : #E8ECF4;
$btnNoFillFontColor      : #C7D3FF;
$btnNoFillBgColor        : transparent;
$btnNoFillBorderColor    : #A0B4FF;


$fCardBgColor            : #F1F5FF;
$fCardHFontColor         : #4074F8;
$fCardCFontColor         : #ADB3CB;

$statsFontColor          : #5E80FF;

$white-color             : #fff;
$swiperShadowColor       : #EFF4FF;

$mainFontSize            : 12px;
$mainLineHeight          : rem(15);

$maxDesktopWidth         : 1440px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
