@import "src/styles/variables";
@import "src/styles/mixins";

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-evenly;

  background: $white-color;
  padding: rem(19) rem(111);

  @media screen and (max-width: $smDesktopWidth) {
    flex-direction: column;
  }

  @media screen and (max-width: $tableWidth) {
    padding: rem(19) rem(50);
  }

  @media screen and (max-width: $phoneWidth) {
    padding: rem(19) rem(40);
  }

  &__left-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $smDesktopWidth) {
      //padding-bottom: rem(19);
      //border-bottom: solid 1px $borderTopColor;
    }
  }

  &__logo {
    margin-right: rem(60);
  }

  &__nav {}

  &__right-panel {
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $smDesktopWidth) {
      display: none;
      margin-top: rem(19);
    }
  }

  &__socials {}

  &__get-button {
    margin-left: rem(40);
  }
}
