@import "src/styles/variables";
@import "src/styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //align-content: center;
  align-items: center;
  height: rem(80);
  background: $white-color;
  padding: 0 rem(117);
}
