@import "src/styles/variables";
@import "src/styles/mixins";

.hero-image {
  text-align: center;
  position: relative;

  height: rem(570);
  background: {
    image:  url("svg/HeroBg.svg"),
            linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    size: 100%, 100%;
    position: bottom center, top center;
    repeat: no-repeat;
  }

  border-top: $borderTopColor 1px solid;

  &__article {
    text-align: center;
    margin: 0 auto;
    margin-top: rem(92);
    max-width: rem(600);
  }

  &__label {
    display: block;
    padding-bottom: rem(16);
  }

  &__header {
    color: $mainFontColor;
    font-family: $mainFont;
    font-weight: 300;
    font-size: rem(48);
    line-height: rem(60);
    letter-spacing: .01em;
    //white-space: nowrap;

    padding-bottom: rem(28);

    b {
      font-weight: 400;
    }
  }

  &__content {
    color: $textFontColor;
    font-family: $headerFont;
    font-weight: 400;
    font-size: rem(15);
    line-height: rem(28.65);
    letter-spacing: .03em;

    padding: 0 rem(40);
  }

  &__sliders {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: rem(20);

    @media screen and (max-width: $tableWidth) {
      bottom: rem(10);
    }
    @media screen and (max-width: $phoneWidth) {
      bottom: rem(5);
    }
  }
}

