<article [class]="heroImage">
  <div [class]="container">
    <app-label [class]="label" [labelText]="textForLabel"></app-label>
    <header [class]="header">Increase your <b>productivity</b></header>
    <p [class]="content">Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.</p>
  </div>
    <app-view-button [button]="btnView"></app-view-button>
  <div [class]="sliders">
    <app-slider-button [slider]="sliderArr"></app-slider-button>
  </div>
</article>

