@import "src/styles/mixins";
@import "src/styles/variables";

.quotes {
  border-top: 1px solid $borderTopColor;
  height: rem(479);
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

  &__left-panel {

  }
  &__wrapper {

  }

  &__label {
    display: block;
    padding-bottom: rem(31);
  }
}
