<div [class]="quotes.main">
  <div [class]="quotes.leftPanel">
    <div [class]="quotes.content">
      <app-label [class]="quotes.label"
        [labelText]="textForLabel"></app-label>
      <h2 [class]="quotes.header"
        >{{textForHeader}}</h2>
      <div [class]="quotes.text"
        >{{textFortext}}</div>
    </div>
  </div>
  <div [class]="quotes.rightPanel">
    <app-swiper-local-styled [class]="quotes.slider">
      <swiper
        [config]="swiperConfig2"
      >
        <ng-template *ngFor="let elem of quoteSwiper" swiperSlide>
           <app-quote-card-slide [quoteCardItem]="elem"></app-quote-card-slide>
        </ng-template>
      </swiper>
    </app-swiper-local-styled>
  </div>
</div>
