<section id="features" [class]="features.main">
  <div [class]="features.wrapper.main">
    <app-label [class]="features.wrapper.label" [labelText]="labelText"></app-label>
    <app-header-small [class]="features.wrapper.header" [headerText]="headerText"></app-header-small>
    <app-features-cards [class]="features.wrapper.cards"></app-features-cards>
    <div [class]="features.wrapper.buttons.main">
      <app-get-button [class]="features.wrapper.buttons.readMore" [button]="buttonRead"></app-get-button>
      <div [class]="features.wrapper.buttons.line"></div>
      <div [class]="features.wrapper.buttons.or">OR</div>
      <div [class]="features.wrapper.buttons.line"></div>
      <app-get-button [class]="features.wrapper.buttons.getStarted" [button]="buttonGet"></app-get-button>
    </div>
  </div>
</section>
