@import "src/styles/variables";
@import "src/styles/mixins";

.features {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

  //height: rem(885);
  width: 100%;
  padding: rem(171) rem(50);

  @media screen and (max-width: $smDesktopWidth) {
      padding: rem(150) rem(50);
  }

  border-top: 1px solid $borderTopColor;
  background: {
    image: url("svg/clouds_more.svg");
    color: white;
    size: contain;
    repeat: no-repeat;
    position: center center;
  };

  text-align: center;

  &__wrapper {
  }

  &__label {
    display: inline-block;
    margin-bottom: rem(20);
  }

  &__header {
    display: block;
    margin-bottom: rem(92);
  }

  &__cards {
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-top: rem(92);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  &__read-more {
  }

  &__or {
    color: #ADB3CB;
    font-family: $OpenSans;
    font-weight: 600;
    font-style: normal;
    font-size: rem(11);
    line-height: rem(19.47);
    text-align: center;
  }

  &__line {
    height: 1px;
    width: rem(15);
    background-color: #DAE4FE;
    margin: 0 rem(15);
  }

  &__get-started {
  }

}
