@import "src/styles/mixins";
@import "src/styles/variables";

.get-button {
  padding: rem(13) rem(15) rem(13) rem(16);
  border-radius: 2px;

  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: rem(13);
  line-height: rem(16.25);

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 5px rgb(0 0 0 / 35%);
  }

  &--blue {
    background-color: $btnBlueBgColor;
    color: $btnBlueFontColor;
  }
  &--pink {
    background-color: $btnPingBgColor;
    color: $btnPinkFontColor;
  }
  &--gray {
    font-weight: 500;
    background-color: $btnGrayBgColor;
    color: $btnGrayFontColor;
  }
  &--white {
    background-color: $btnWhiteBgColor;
    color: $btnWhiteFontColor;
  }
}
