<div class="wrapper">
  <div class="content-wrapper">
    <div class="container">
      <app-always-top>
        <app-header></app-header>
      </app-always-top>
<!--      <router-outlet></router-outlet>-->
      <app-hero-image uniScrollSpy="home" id="home"></app-hero-image>
      <app-customers></app-customers>
      <app-plan-and-manage></app-plan-and-manage>
      <app-features uniScrollSpy="features" id="features"></app-features>
      <app-stats></app-stats>
      <app-blog uniScrollSpy="blog" id="blog"></app-blog>
      <app-quotes></app-quotes>
      <app-faq uniScrollSpy="documentation" id="documentation"></app-faq>
      <app-get-started uniScrollSpy="pricing" id="pricing"></app-get-started>
      <app-newsletter></app-newsletter>
      <app-footer></app-footer>
    </div>
  </div>
</div>
