<div class="wrapper">
  <div class="content-wrapper">
    <div class="container">
      <app-always-top>
        <app-header></app-header>
      </app-always-top>
      <app-hero-image id="home"></app-hero-image>
      <app-customers></app-customers>
      <app-plan-and-manage></app-plan-and-manage>
      <app-features id="features"></app-features>
      <app-stats></app-stats>
      <app-blog id="blog"></app-blog>
      <app-quotes></app-quotes>
      <app-faq id="documentation"></app-faq>
      <app-get-started id="pricing"></app-get-started>
      <app-newsletter></app-newsletter>
      <app-footer></app-footer>
    </div>
  </div>
</div>
