<div class="wrapper">
  <div class="content-wrapper">
    <div class="container">
      <app-header></app-header>
      <app-hero-image></app-hero-image>
      <app-customers></app-customers>
      <app-plan-and-manage></app-plan-and-manage>
      <app-features></app-features>
      <app-stats></app-stats>
      <app-blog></app-blog>
      <app-quotes></app-quotes>
      <app-faq></app-faq>
      <app-get-started></app-get-started>
      <app-newsletter></app-newsletter>
      <app-footer></app-footer>
    </div>
  </div>
</div>
