@import "src/styles/variables";
@import "src/styles/mixins";

.slider_button {
  padding: 0;
  background-color: $unactiveBulletColor;
  margin: 0 rem(8);
  height: rem(8);
  width: rem(8);
  border-radius: 50%;
  cursor: pointer;

  &.active {
    background-color: $activeBulletColor;
  }
}
