@import "src/styles/variables";
@import "src/styles/mixins";

$input--background : #EFEFF7;
$input--fontColor  : $mainFontColor;
$input-placeholder--fontColor : #7A85AD;

.input-field {
  min-width: rem(280);
  font-family: $Quicksand;
  font-stretch: normal;
  font-weight: 700;
  font-size: rem(13);
  line-height: rem(16);
  color: $input--fontColor;
  outline: none; //чтобы input не подсвечивался
  box-sizing: border-box;
  background: $input--background;
  border: solid {
    color: $input--background;
    radius: rem(5);
    width: rem(1);
  }

  transition-property: border;
  transition-duration: .3s;

  padding: rem(21);

  &:focus, &:hover {
    border-color: $input-placeholder--fontColor;
  }

  &:valid { //поставил, потому что менялся цвет в настройках браузера при разфокусировке
    color: $input--fontColor;
  }

  &:invalid {
    color: $input-placeholder--fontColor;
  }

  &:active {
  }

  @include placeholder {
    color: $input-placeholder--fontColor;
  }
}
