@import "src/styles/variables";
@import "src/styles/mixins";

.blog-swiper-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include size(100%,rem(394));
  padding: rem(63) rem(30);

  background: $white-color;
  border: 1px solid $borderTopColor;
  box-sizing: border-box;
  box-shadow: 0 rem(15) rem(50) $swiperShadowColor;

  @media screen and (max-width: $smDesktopWidth) {
    justify-content: center;
    padding: rem(25);
  }


  &__images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 46%;

    @media screen and (max-width: $smDesktopWidth) {
      display: none;
    }
  }

  &__image1 {
    @include size(65%,97%);
    margin: 1.5%;
    background-image: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%),
                url("../../../../assets/images/blog/image1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 rem(15) rem(100) #E5EBF8);
    border-radius: 5px;

    @media screen and (max-width: $desktopWidth) {
      width: 90%;
    }

  }

  &__image2 {
    @include size(31%,47%);
    flex-basis: 44.9%;
    margin: 1.5%;
    background-image: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%),
      url("../../../../assets/images/blog/image2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 rem(15) rem(100) #E5EBF8);
    border-radius: 5px;

    @media screen and (max-width: $desktopWidth) {
      display: none;
    }
  }

  &__image3 {
    @include size(31%,47%);
    flex-basis: 43.5%;
    margin: 1.5%;
    background-image: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%),
      url("../../../../assets/images/blog/image3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 rem(15) rem(100) #E5EBF8);
    border-radius: 5px;

    @media screen and (max-width: $desktopWidth) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 46%;
    margin: 1%;

    @media screen and (max-width: $desktopWidth) {
      flex-basis: 80%;

    }
    @media screen and (max-width: $smDesktopWidth) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: $phoneWidth) {
      flex-basis: 100%;
    }
  }

  &__header {
    color: $mainFontColor;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: rem(36);
    line-height: rem(45);
  }

  &__content {
    color: $textFontColor;
    font-family: $headerFont;
    font-style: normal;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(27);
    letter-spacing: 0.03em;
    text-align: left;
  }

  &__buttons {
    text-align: left;
  }

  &__left-button {
    margin-right: rem(8);
  }
  &__right-button {
    @media screen and (max-width: $phoneWidth) {
      display: none;
    }
  }

}
