<div [class]="blogSwiperElement">
  <div [class]="images">
<!--    <img src="../../../../assets/images/blog/image1.jpg" alt="" [class]="image1">-->
<!--    <img src="../../../../assets/images/blog/image2.jpg" alt="" [class]="image2">-->
<!--    <img src="../../../../assets/images/blog/image3.jpg" alt="" [class]="image3">-->
    <div [class]="image1"></div>
    <div [class]="image2"></div>
    <div [class]="image3"></div>
  </div>
  <div [class]="content">
    <div [class]="header">How to start planning</div>
    <div [class]="text">Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
</div>
    <div [class]="buttons">
      <app-get-button [class]="leftButton" [button]="readButton"></app-get-button>
      <app-get-button [class]="rightButton" [button]="bookButton"></app-get-button>
    </div>
  </div>
</div>
