<div [class]="classBlog.main">
  <div [class]="classBlog.images.main">

    <div *ngFor="let image of thisElement.images | keyvalue"
         [class]="classBlog.images.image[+image.key]"
         [ngStyle]="{
          'background-image': imageGradient[+image.key]+','
          +'url('+image.value+')'
         }"
    >
      <app-view-image-button [n]="+image.key"></app-view-image-button>
    </div>

  </div>
  <div [class]="classBlog.content.main">
    <div [class]="classBlog.content.header">{{thisElement.header}}</div>
    <div [class]="classBlog.content.text">{{thisElement.text}}
    </div>
    <div [class]="classBlog.content.buttons.main">
      <app-get-button [class]="classBlog.content.buttons.leftButton" [button]="readButton"></app-get-button>
      <app-get-button [class]="classBlog.content.buttons.rightButton" [button]="bookButton"></app-get-button>
    </div>
  </div>
</div>
