<div [ngClass]= "[
    expansionPanel.main,
    expand ? expansionPanel.expand : ''
  ]">
  <h4 [class]="expansionPanel.header" (click)="expand = !expand">
    <span [class]="expansionPanel.indicator">
      <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    {{thisElement.questionHeader}}</h4>
  <div [class]="expansionPanel.content" >
    <p [class]="expansionPanel.text">
      {{thisElement.answerText}}
    </p>
    <app-get-button [class]="expansionPanel.button" [button]="forButton"></app-get-button>
  </div>

</div>
