<div [ngClass]= "{
    'expansion-panel' : true,
    'expansion-panel--active': active
  }">
  <h4 class="expansion-panel__header" (click)="active = !active">
    <span class="expansion-panel__indicator">
      <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    Reque insolens in vel?</h4>
  <div [ngClass]= "{
    'expansion-panel__content': true,
    'expansion-panel__content--active': active
  }" >
    <p>
      Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
    </p>
    <app-get-button [button]="forButton"></app-get-button>
  </div>
  <div class="expansion-panel__border-bottom"></div>
</div>
